/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(..//img/jesucristo.jpg);
    background-repeat: no-repeat;/*imagen no repita*/
    background-size: cover;/*ampliar imagen na tela completa*/
}

.container {
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4); /*actualize o color e tamanho da sombra*/
    border-radius: 8px;
    background: transparent;/*actualize tirei o fondo*/
    border: solid #fff; /*actualize os borde*/
    /*margin-top: 15rem;*/
}

/* icono*/
#Icon {

    color: #5A67D8;

}

/*navegador*/

.nav{

    position: fixed;
    top: 10%;
    right: 9%;
}

.enlace{

    color:#fff;
    text-decoration: none;
    font-size: 20px;
    background-color: #5A67D8;
    padding: 10px;
    border-radius: 20px;
}

.enlace:hover{

    background-color: #4C51BF;
}


 h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

h1{

    color : #fff;
    margin-bottom: 15px;
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #5A67D8;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4C51BF;
}

.appointment {
    background-color: #f0f0f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 4px solid #5A67D8;
}

.appointment h3 {
    font-size: 18px;
    color: #333;
}

.appointment p {
    font-size: 14px;
    color: #666;
}
