* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(..//img/jesucristo.jpg);
    background-repeat: no-repeat;/*imagen no repita*/
    background-size: cover;/*ampliar imagen na tela completa*/
}


.box-agendamentos{


    width: 50%;
    height: 100%;
    background-color: #3c49b8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 10px #f4f4f9;

}


h3{

    color:#fff;
}

.deleteAppointment{

    color: #3c49b8;
}

h1{

    text-align: center;
    color:#fff;
    font-size: 25px;
    margin-bottom: 15px;
}

p{

    color:#050505;
    margin-top: 3px;
    margin-bottom: 1px;
}

@media(max-width:600px){


    h1{

        font-size: 16px;
        margin-bottom: 15px;
    }
}

.nav-index1{

    position: absolute;
}

.nav-index1:hover{

    font-size: 25px;
}

a{
position: fixed;
top:14%;
left: 10%;
color:#fff;
text-decoration: none;
font-size: 20px;

}


